## Import libraries & File location

In [1]:
%matplotlib inline
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

/Users/jmobrecht/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
folder = '/Users/jmobrecht/GitHub/NN'
file = 'listdata.csv'
path = folder + '/' + file
print(path)

my_data = pd.read_csv(path)

/Users/jmobrecht/GitHub/NN/listdata.csv

## Define Variables

In [21]:
nrowsTot = np.size(my_data,0)
ncolsTot = np.size(my_data,1)

In [69]:
dataInput  = my_data.iloc[:,0:13] # dataframes
dataTarget = my_data.iloc[:,13:36]
dataOther  = my_data.iloc[:,36:40]

ncolsInput  = np.size(dataInput,1)
nrowsTarget = np.size(dataTarget,1)
nrowsOther  = np.size(dataOther,1)

dataInput.head()

,AEP1,AEP2,AEP3,AEP4,AEP5,AEP6,AEP7,AEP8,AEP9,AEP10,AEP11,AEP12,AEP13
0,4008.3,4953.3,5884.7,6777.6,7616.5,8393.2,9103.4,9745.4,10318,10823,11258,11627,11929
1,4033.5,4985.7,5922.9,6820.0,7661.9,8440.2,9151.1,9792.9,10365,10868,11303,11670,11971
2,4044.7,5000.1,5940.0,6839.1,7682.3,8461.4,9172.6,9814.4,10387,10889,11323,11689,11989
3,4048.8,5005.6,5946.5,6846.4,7690.2,8469.6,9181.0,9822.8,10395,10897,11331,11697,11997
4,4049.5,5006.4,5947.5,6847.5,7691.4,8470.9,9182.3,9824.1,10396,10899,11332,11698,11998

In [71]:
dataInput2, dataTarget2, dataOther2 = tf.split(my_data,[13,23,4],1) # tensors

In [8]:
arrMeanWind = np.arange(5.0,11.5,0.5)
print(arrMeanWind)
np.size(arrMeanWind)

[ 5.   5.5  6.   6.5  7.   7.5  8.   8.5  9.   9.5 10.  10.5 11. ]

13

In [9]:
arrPCWind = np.arange(3.0,26.0,1.0)
print(arrPCWind)
np.size(arrPCWind)

[ 3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20.
 21. 22. 23. 24. 25.]

23

In [15]:
dataOther['RPM'].head()

0    13.022
1    13.890
2    14.758
3    15.626
4    16.494
Name: RPM, dtype: float64

## Split Data into Training & Test

In [24]:
X_train = []
X_test  = []
Y_train = []
Y_test  = []

In [62]:
shuf = np.arange(nrowsTot)
np.random.shuffle(shuf)

In [18]:
X_train, X_test, y_train, y_test = tf.train_split(dataInput, dataTarget, test_size=0.10, random_state=42)

AttributeError: module 'tensorflow' has no attribute 'train_split'